<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />
        <title>Codedigger - {{message}}</title>
    </head>


    <body leftmargin="0.5em" topmargin="0.5em" marginwidth="0.5em" marginheight="0.5em">
        <!-- pre-header -->
        <div style="overflow:hidden;display:none;font-size:1px;color:#ffffff;line-height:1px;max-height:0px;max-width:0px;opacity:0;">
            Codedigger - {{message}}
        </div>
        <!-- pre-header end -->

        <div style="font: medium/ 1.5  Arial,Helvetica,sans-serif">
            <img src="https://lh3.googleusercontent.com/pw/ACtC-3fvyif39GMTNTsxXveZB0z3nPAxcaaYnTAw-bVROn58ZTkqO2k-kJngoftU8_xNPBdI5QB-gXgoQKOfBAndXRJiAxY6UxT96IlPf_wv_AihsFI_7dtmqchmJ9OfifaZcdH6JgPMxU2w1qUKGVbQBEf3=w290-h49-no?authuser=0" style="float:right;margin:0 0.5em 0.5em 0.5em" alt="Codedigger">

            <p>
            Hello, {{username}}.
            </p>

            <p>
            Click  <a href="{{link}}">here</a> to {{message}}. 
            </p>

            <p>
            If for any reason the above link is not working, copy and paste the below link in any browser to {{message}} - 
            </p>

            <p>
            <a href="{{link}}">{{link}}</a>
            </p>

            <p>
            If it was not you, just ignore this mail.
            </p>

            <p>
            With best regards,
            </p>

            <p>
            Codedigger Team.
            </p>

            For any query Email us: 
            <a href="mailto:contact.codedigger@gmail.com"> contact.codedigger@gmail.com </a>
        </div>
    </body>
</html>